<div class="flex flex-col sm:flex-row items-center gap-4">
  <input z-input type="text" placeholder="Buscar por SKU, Nombre..." class="w-full sm:max-w-xs"
         [ngModel]="q()" (ngModelChange)="qChange.emit($event)" />
  
  <z-select [zMultiple]="true" [ngModel]="categoriaId()" (ngModelChange)="categoriaIdChange.emit($event)" placeholder="Categoría">
    @for (c of categorias(); track c.id) {
      <z-select-item [zValue]="c.id">{{ c.nombre }}</z-select-item>
    }
  </z-select>

  <z-select [zMultiple]="true" [ngModel]="activo()" (ngModelChange)="activoChange.emit($event)" placeholder="Estado">
    <z-select-item [zValue]="'true'">Activos</z-select-item>
    <z-select-item [zValue]="'false'">Inactivos</z-select-item>
  </z-select>
</div>
